<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/add_password.css') }}">
    <script src="https://kit.fontawesome.com/a2e0e6e6fd.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h2>Add a New Password</h2>
        <form method="POST">
            <input type="text" name="site_name" placeholder="Website Name" required><br>
            <input type="text" name="site_username" placeholder="Site Username" required><br>

            <div class="password-wrapper">
                <input type="password" id="site_password" name="site_password" placeholder="Site Password" required>
                <button type="button" onclick="generatePassword()">Generate</button>
                <i class="fas fa-eye" id="togglePassword" onclick="toggleVisibility()" title="Show/Hide Password"></i>
                
            </div>
<br>
            <button type="submit">Save Password</button>
        </form>
        <a href="{{ url_for('dashboard') }}">Back to Dashboard</a>
    </div>

    <script>
        function generatePassword() {
            fetch("{{ url_for('generate_password') }}")
                .then(response => response.json())
                .then(data => {
                    const input = document.getElementById("site_password");
                    input.value = data.password;
                });
        }

        function toggleVisibility() {
            const pwd = document.getElementById("site_password");
            pwd.type = pwd.type === "password" ? "text" : "password";
        }

    
    </script>
</body>
</html>


