<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Passwords</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/view_passwords.css') }}">
</head>
<body>
    <h2>Your Saved Passwords</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% if passwords %}
        <table>
            <tr>
                <th>Website</th>
                <th>Username</th>
                <th>Password</th>
                <th>Actions</th>
                <th>Clip</th> 
            </tr>
            {% for entry in passwords %}
            <tr>
                <td>{{ entry.site_name }}</td>
                <td>{{ entry.site_username }}</td>
                <td>{{ entry.site_password }}</td>
                <td>
                    <a href="{{ url_for('edit_password', entry_id=entry.id) }}">Edit</a> |
                    <a href="{{ url_for('delete_password', entry_id=entry.id) }}" onclick="return confirm('Are you sure you want to delete this password?')">Delete</a>
                </td>
                <td>
                    <div class="password-actions">
                        <button type="button" onclick="copyPassword()">📋</button>
                        <script>
                            function copyPassword() {
                                const passwordInput = document.querySelector('input[name="site_password"]');
                                navigator.clipboard.writeText(passwordInput.value)
                                    .then(() => {
                                        const tooltip = document.getElementById("copyTooltip");
                                        tooltip.textContent = "Copied!";
                                        setTimeout(() => tooltip.textContent = "Copy", 15000);
                                    })
                                    .catch(err => {
                                        alert("Failed to copy: " + err);
                                    });
                            }
                            </script>
                    </div>
                 </td>
                  
            </tr>
            {% endfor %}
        </table>
        
    {% else %}
        <p>No passwords saved yet.</p>
    {% endif %}
   
           
</body>
</html>
